* {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0
}

body {
	font: 71%/1.5 Verdana, Sans-Serif;
	background: #eee;
}

/*---------------- */

.wrap {
	padding: 5% 3%;
}

.title-section {
	font-size: 3em;
	margin-bottom: 0;
	padding-bottom: 0;
}

/*---------------- */

.apps {
	width: 100%;
}

.app {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	overflow: hidden
}

.app:hover {
	background: yellow
}

.app img { width: 70%; display: block; margin: 0 auto; }


/*---------------- */

.actions { 

}

.button {
	background-color: #544CAF; /* Green */
	border: none;
	color: #FFFFFF;
	padding: 35px 35px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 30px auto 0 auto;
	width: 90%;
	font-size: 16px;
	cursor: pointer;
}