* {
margin: 0;
padding: 0;
}
body {
font: 71%/1.5 Verdana, Sans-Serif;
background: #eee;
}
#container {
/* margin: 100px auto; */
width: 100%;
}

#control-pannel img:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	background-color: yellow;
	cursor: pointer;
}

#shortcuts {
	margin-left: 10%;
	margin-top: 10%;
	width: 80%;
}

#shortcuts img{

	width:100px;
	height:100px;

}
